<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Backend Test Task</title>
  </head>
  <body>
    <h1>About the Django Backend Test Task</h1>
    <h2>General</h2>
<li> You need to create Articles application which is basically a simple blog
application</li>
    <li>All text fields are translatable in all models</li>
 <li>Support English and German languages</li>
 <li>Application should be deployed to divio platform, you can find the setup
documentation here
○ Note: Please notice that you’ll be asked to add a credit card on divio
to deploy the project, feel free to contact us if you don’t want to do
that. Divio won’t charge anything, they’re asking for credit card
details to avoid fraud</li>

 <li> (optional) The default requirement is to build this using pure django, but it
will big a big bonus if you’re familiar with django CMS then you can
integrate your Articles application into django CMS via apphooks</li></p>
  </body>
</html>