<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      This is a sample test of Post Blog
    </h1>
    <p>
      Click <a href="{% url 'list' %}">here</a> for a list of Articles

    </p>
  <p>
      Click <a href="http://localhost:8000/admin">here</a> for Admin panel (Username = "user" and Password = "password")

    </p>
  <p>
      Click <a href="{% url 'about' %}">here</a> for a about page

    </p>

  </body>
</html>